## Recolecci칩n de datos

Nuestro dataset analizado no contiene datos no estructurados; es por ello que decidimos realizar una recolecci칩n de tweets con el objetivo de generar un dataset que en el cual se tengan tweets que contengan la palabra "sequias" usando  [snscrape](https://github.com/JustAnotherArchivist/snscrape). 

Importante: Para hacer uso de la librer칤a es necesario tener Python 3.8 o superior.

In [1]:
# !pip install git+https://github.com/JustAnotherArchivist/snscrape.git

import snscrape.modules.twitter as sntwitter
import pandas as pd

Uso de TwitterSearchScraper para realizar el "raspado" de los datos y guardar los tweets en una lista. La informaci칩n obtenida es la fecha del tweet, el contenido y la ubicaci칩n del usuario.

In [2]:
maxTweets = 3000
tweets_list = []

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('sequias since:2021-08-01 until:2021-09-01').get_items()):
    if i>maxTweets:
        break
    tweets_list.append([tweet.date, tweet.content, tweet.user.location])

Posteriormente, creamos un dataset y lo guardamos en formato de archivo csv.

In [3]:
tweets_sequias_raw = pd.DataFrame(tweets_list, columns=['Datetime','Text', 'Location'])
tweets_sequias_raw.head()

,Datetime,Text,Location
0,2021-08-31 23:52:35+00:00,游닠 Se esperan fuertes sequ칤as en Espa침a a parti...,"Amsterdam, Spain"
1,2021-08-31 23:37:36+00:00,Hace unas semanas la NASA advirti칩 que este a침...,Guadalajara
2,2021-08-31 23:33:03+00:00,"El United, el Liverpool, el Chelsea, el Madrid...","Santiago, Galiza"
3,2021-08-31 23:30:00+00:00,#31Ago El cambio clim치tico nos afecta a todos....,Venezuela
4,2021-08-31 22:14:26+00:00,Descubren bacteria capaz de comer plastico htt...,

In [4]:
tweets_sequias_raw.to_csv('tweets_sequias_raw.csv', sep=',', index=False)